{% extends "base.html" %}

{% block content %}


<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="/index">
                <svg class="glyph stroked home">
                    <use xlink:href="#stroked-home"></use>
                </svg>
            </a></li>
            <li class="active">{{ title }}</li>
        </ol>
    </div><!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{ title }}</h1>
        </div>
    </div><!--/.row-->

    <div class="row">
        <div class="col-xs-12 col-md-6 col-lg-4">
            <div class="panel panel-blue panel-widget ">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <img src="static/images/icons8-wallet-100_4.png" width="60" alt="">
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large">{{ summa }}</div>
                        <div class="text-muted">{{ to_lang("Общая сумма") }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-4">
            <div class="panel panel-orange panel-widget">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <img src="static/images/icons8-income-64_2.png" width="60" alt="">
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large">{{ income }}</div>
                        <div class="text-muted">{{ to_lang("Доходы за месяц") }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-4">
            <div class="panel panel-teal panel-widget">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <img src="static/images/icons8-expense-64.png" width="60" alt="">
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large">{{ expense }}</div>
                        <div class="text-muted">{{ to_lang("Расходы за месяц") }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/.row-->

    <style>
			.dropdown-menu {
				left: inherit;
				right: 0;
				padding: 5px;
				width: max-content;
			}
			.title {
				margin-right: 10px;
			}

    </style>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">История операций</div>
                <div class="panel-body">
                    <table data-toggle="table" data-url="static/tables/data.json" data-show-refresh="true"
                           data-show-toggle="true" data-show-columns="true" data-search="true"
                           data-select-item-name="toolbar1" data-pagination="true" data-sort-name="number"
                           data-sort-order="asc">
                        <thead>
                        <tr>
                            <!--						        <th data-field="state" data-checkbox="true" >ID</th>-->
                            <th data-field="name_category" data-sortable="true">{{ to_lang("Название категории") }}</th>
                            <th data-field="name_bank_account" data-sortable="true">{{ to_lang("Название счета") }}</th>
                            <th data-field="date" data-sortable="false">{{ to_lang("Дата") }}</th>
                            <th data-field="sum" data-sortable="true">{{ to_lang("Сумма") }}</th>
                            <th data-field="comment" data-sortable="true">{{ to_lang("Комментарий") }}</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div><!--/.row-->
</div>    <!--/.main-->

<script src="{{ url_for('static',filename='scripts/bootstrap-table.js') }}"></script>
<script>
		$('#calendar').datepicker({
		});

		!function ($) {
		    $(document).on("click","ul.nav li.parent > a > span.icon", function(){          
		        $(this).find('em:first').toggleClass("glyphicon-minus");      
		    }); 
		    $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
		}(window.jQuery);

		$(window).on('resize', function () {
		  if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
		})
		$(window).on('resize', function () {
		  if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
		})

</script>
{% endblock %}